extends layout

block scripts
    script(src="/socket.io/socket.io.js")
    script(src= '/javascripts/clientSide.js')
    script(src='/javascripts/joinGame.js')
block stylesheets
    link( rel='stylesheet', href='/stylesheets/GameView.css')

       
block content

    #wrapper(style='height: auto !important;')
        #board-wrapper(style='height: auto !important;')
            #left-column(style='height: auto !important;')
                label
                #left-content(style='height: 600px;')
                    label
            #board-and-header
                #header
     

                #board.board.ginrummy(style='height: 600px;')
                    #play-page.inner-page(style='height: 600px;')
                        #top-player.avatar
                            .face
                            small(class = "opponentName").top-player-name
                            #top-player-bubble.bubble
                                p
                                    span
                        #bottom-player.avatar
                            .face
                            small(class = "userName")
                            #bottom-player-bubble.bubble
                                p
                                    span

                    
                        #deal
                            #dealButton
                                button.big Deal
                            p deal button
                        #pass
                            button PASS
                        #player-buttons(style='display: block;')
                            button#knock
                                span#no-knock KNOCK
                                span#yes-knock(style='display: none;') KNOCK
                            button#sortHand Sort
                        #show-scorecard
                            a(href='#show-scorecard') Click here to show the scorecard again
                       
                        #best-move.hide-restart.show-after-deal(style='top: 532px;')
                            #melds-container
                                | Melds:
                                span.melds
                            #deadwood-container
                                | Deadwood:
                                span.deadwood-count
                                span.deadwood
                        #result-box.dialog.results
                            h3 X wins this round with Big Gin
                            .trophy.hide-restart
                            span#gr-top-player-win.ginrummy-winner-img.face-small.face-top-player.hide-restart.hair-2
                            span#gr-bottom-player-win.ginrummy-winner-img.face-small.face-bottom-player.hide-restart.hair-0
                            .trophy.hide-restart
                            #gr-result-table-wrapper
                                table#gr-result-table
                                    tbody
                                        tr
                                            td.sep
                                            td.sep(colspan='3')
                                                .result-bottom-player.face-thumb.face-bottom-player
                                            td.sep(colspan='3')
                                                .result-top-player.face-thumb.face-top-player
                                            td
                                        tr
                                            th.sep Round
                                            th Score
                                            th Bonus
                                            th.sep Total
                                            th Score
                                            th Bonus
                                            th.sep Total
                                            th.header-result Result
                                        tr#total-row.result-row
                                            td(colspan='3') Total Score
                                            td#bottom-player-total.sep
                                            td
                                            td
                                            td#top-player-total.sep
                                            td
                                        tr#game-bonus-row.result-row.hide-restart
                                            td(colspan='3') Game Bonus
                                            td#bottom-player-game-bonus.sep 0
                                            td
                                            td
                                            td#top-player-game-bonus.sep 0
                                            td
                                        tr#line-bonus-row.hide-restart
                                            td(colspan='3') Line Bonus
                                            td#bottom-player-line-bonus.sep 0
                                            td
                                            td
                                            td#top-player-line-bonus.sep 0
                                            td
                                        tr#shutout-bonus-row.hide-restart
                                            td(colspan='3') Shutout Bonus
                                            td#bottom-player-shutout-bonus.sep 0
                                            td
                                            td
                                            td#top-player-shutout-bonus.sep 0
                                            td
                                        tr#grand-total-row.result-row.hide-restart
                                            td(colspan='3') Grand Total
                                            td#bottom-player-grand-total.sep
                                            td
                                            td
                                            td#top-player-grand-total.sep
                                            td
                            #hide-scorecard.hide-restart
                                a(href='#hide-scorecard') Hide scorecard and show cards
                            .button-panel
                                button#start-new-game Play next round

                        <!-- Computer/Opponent card -->
                            #1.card(style='left: 161px; top: 50px; z-index: 2; width: 69px; height: 94px;')
                                #cardOpponent0
                            #2.card(style='left: 201px; top: 50px; z-index: 3; width: 69px; height: 94px;')
                                #cardOpponent1
                            #3.card(style='left: 241px; top: 50px; z-index: 4; width: 69px; height: 94px;')
                                #cardOpponent2
                            #4.card(style='left: 281px; top: 50px; z-index: 5; width: 69px; height: 94px;')
                                #cardOpponent3
                            #5.card(style='left: 321px; top: 50px; z-index: 6; width: 69px; height: 94px;')
                                #cardOpponent4
                            #6.card(style='left: 361px; top: 50px; z-index: 7; width: 69px; height: 94px;')
                                #cardOpponent5
                            #7.card(style='left: 401px; top: 50px; z-index: 8; width: 69px; height: 94px;')
                                #cardOpponent6
                            #8.card(style='left: 441px; top: 50px; z-index: 9; width: 69px; height: 94px;')
                                #cardOpponent7
                            #9.card(style='left: 481px; top: 50px; z-index: 10; width: 69px; height: 94px;')
                                #cardOpponent8
                            #10.card(style='left: 521px; top: 50px; z-index: 11; width: 69px; height: 94px;')
                                #cardOpponent9

                                <!-- User cards -->
                            #11.card(style='left: 161px; top: 415px; z-index: 12; width: 69px; height: 94px;')
                                #cardUser0(onclick = 'card0Discard()')
                            #12.card(style='left: 201px; top: 415px; z-index: 13; width: 69px; height: 94px;')
                                #cardUser1(onclick = 'card1Discard()')
                            #13.card(style='left: 241px; top: 415px; z-index: 14; width: 69px; height: 94px;')
                                #cardUser2(onclick = 'card2Discard()')
                            #14.card(style='left: 281px; top: 415px; z-index: 15; width: 69px; height: 94px;')
                                #cardUser3(onclick = 'card3Discard()')
                            #15.card(style='left: 321px; top: 415px; z-index: 16; width: 69px; height: 94px;')
                                #cardUser4(onclick = 'card4Discard()')
                            #16.card(style='left: 361px; top: 415px; z-index: 17; width: 69px; height: 94px;')
                                #cardUser5(onclick = 'card5Discard()')
                            #17.card(style='left: 401px; top: 415px; z-index: 18; width: 69px; height: 94px;')
                                #cardUser6(onclick = 'card6Discard()')
                            #18.card(style='left: 441px; top: 415px; z-index: 19; width: 69px; height: 94px;')
                                #cardUser7(onclick = 'card7Discard()')
                            #19.card(style='left: 481px; top: 415px; z-index: 20; width: 69px; height: 94px;')
                                #cardUser8(onclick = 'card8Discard()')
                            #20.card(style='left: 521px; top: 415px; z-index: 20; width: 69px; height: 94px;')
                                #cardUser9(onclick = 'card9Discard()')
                            #21.card(style='left: 541px; top: 415px; z-index: 20; width: 69px; height: 94px;')
                                #cardUser10(onclick = 'card10Discard()')

                                    <!-- Deck Card -->
                            .card.c7(style='left: 250.3px; top: 196px; z-index: 21; width: 69px; height: 94px;' onclick = 'drawFromDeck()')
                                #deckCard
                                    Deck
                                    img(src = '/cards/back.jpg')
                            .card.c8(style='left: 345.3px; top: 196px; z-index: 21; width: 69px; height: 94px;' onclick = 'drawFromDeck()')
                                #discard
                       

            #login-button.hide-mobile
             #inline-score-wrapper
                            #inline-score
                                table
                                    tbody
                                        tr
                                            th(colspan='4') Total Game Score
                                        tr.names-row
                                            th(class = "hostName").bottom-player-name 
                                            th(class = "guestName").top-player-name
                                        tr
                                            td#bottom-inline-score 0
                                            td#top-inline-score 0
            //- .msger(style='height: 600px;')
                section
                    header.msger-header
                        .msger-header-title
                            i.fas.fa-comment-alt
                            |  Chat Room #
                        .msger-header-options
                            span
                                i.fas.fa-cog
                    main.msger-chat
                        .msg.left-msg
                            .msg-img(style='background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)')
                            .msg-bubble
                                .msg-info
                                    .msg-info-name Reciever
                                    .msg-info-time 00:00
                                .msg-text
                                    | Hi, let's play!!
                        .msg.right-msg
                            .msg-img(style='background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)')
                            .msg-bubble
                                .msg-info
                                    .msg-info-name Sender
                                    .msg-info-time 00:00
                                .msg-text
                                    | Yeah let's go!!
                    form.msger-inputarea
                        input.msger-input(type='text', placeholder='Enter your message...')
                        button.msger-send-btn(type='submit') Send
            div(style='clear:both')





