extends layout

block scripts
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io();
block stylesheets
    link( rel='stylesheet', href='/stylesheets/style.css')

       
block content

    body


        #game-name
            h1#name GIN RUMMY

        #about
            P#page-about This is a Project work for 667 Class
            p#page-about Suraj Mondem
            p#page-about NAME
            p#page-about NAME
            p#page-about NAME


    script(src='/socket.io/socket.io.js')