extends layout

block scripts
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io();
block stylesheets
    link( rel='stylesheet', href='/stylesheets/GameView.css')
    style. 
        h1{color : white;}
        h2{color : white;}

       
block content
    H1 Gin Rummy

    h2 Created By 
    ul 
        li Nico 
        br
        li Cyrus 
        br
        li Suraj 
        br
        li Matthew 
        
