extends layout






block stylesheets
  link(rel='stylesheet', href='/stylesheets/lobby.css')


block content

  ul(id = "roomList")
    

  form(name = "createRoomForm" method = 'POST' action = '/lobby')
    input(id = "room" autocomplete = "off" maxlength="50" placeholder = "Room Name") 
  
    input(id = "password" autocomplete = "off" maxlength="50" placeholder = "Password")
    button Create Room
  


  ul(id = "messages")

  form(name = "messageForm" method='POST' action='/lobby'  )
    input(id = "message" autocomplete = "off" maxlength="50")
    button(id) Send



block scripts 
  script(src='/javascripts/chatPost.js')

  
 

     