extends layout

block content
  h1 Basic Chat App
      
      // register form
      form(method='POST' action='/lobby')

        div.form-group

          label(for='message') Chat:
          input#pw.form-control(type='message' name='message')
        button.btn.btn-primary(type='submit') Send