extends layout






block stylesheets
  link(rel='stylesheet', href='/stylesheets/lobby.css')


block content

  ul(id = "roomList")
    

  form(name = "createRoomForm" method = 'POST' action = '/lobby/createRoom')
    input(id = "roomName" name = "roomName" autocomplete = "off" maxlength="50" placeholder = "Room Name") 
    button(name = 'createRoomButton') Create Room
  


  ul(id = "messages")

  form(name = "messageForm" method='POST' action='/lobby/chatMessage'  )
    input( id ="message" type = "message" name = "message" autocomplete = "off" maxlength="50")
    button(name = 'createMessageButton') Send




block scripts 
  script(src='/javascripts/chatPost.js')
  script(src='/javascripts/joinLobby.js')

  
 

     