extends layout

block content
  h1 Gin Rummy Lobby
      

      ul(id = "roomList")

      form(name = "createRoomForm" method = 'POST' action = '/lobby')
        input(id = "room" autocomplete = "off" maxlength="50" placeholder = "Room Name") 
      
        input(id = "password" autocomplete = "off" maxlength="50" placeholder = "Password")
        button Create Room
  

      ul(id = "messages")

      form(name = "messageForm" method='POST' action='/lobby'  )
        input(id = "message" autocomplete = "off" maxlength="50")
        button Send


  script( src="https://cdn.socket.io/socket.io-1.2.0.js")
  script( src="https://code.jquery.com/jquery-1.11.1.js")
  script(src='/javascripts/chatPost.js')

 

     