extends layout 

block stylesheets
    link( rel='stylesheet', href='/stylesheets/login.css')
    
block content

      
      // register form
      form(method='POST' action='/login')
        .box
            h1 Login
            div.form-group1
                label(for='username') Username:
                input#email.form-control(type='username', placeholder='username', name='username')

            div.form-group2
                label(for='pw') Password:
                input#pw.form-control(type='password', placeholder='password', name='password')
            button.btn.btn-primary(type='submit') Log In