extends layout

block stylesheets
    link( rel='stylesheet', href='/stylesheets/login.css')

block content
      
      // register form
      form(method='POST' action='/register')
          .box
              h1 Sign Up
              div.form-group1
                label(for='username') Username:
                input#email.form-control(type='username', placeholder='bigboi' name='username')

              div.form-group2
                label(for='pw') Password:
                input#pw.form-control(type='password' name='password')

              button#btn2.btn-primary(type='submit') Sign up