h1 {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  text-align: center;
  font-size: 50px;
  font-family: "Comic Sans MS", "roboto";
  height: 71px;
  margin-top: 0;
  white-space: nowrap;
  color: #000000;
  text-shadow: none;
}

#title h1 {
  height: 71px;
  margin-top: 0;
  white-space: nowrap;
}

ul #menu {
  font-family: Arial, sans-serif;
  color: #333;
  touch-action: manipulation;
  font-size: 18px;
  line-height: 23px;
  padding: 2px;
  position: relative;
  margin: auto;
  text-align: center;
}

li {
  display: inline;
  margin-bottom: 5px;
}

#play-page {
  text-align: center;
  position: relative;
  height: 600px;
  margin: auto;
  width: 700px;
}

#menu {
  padding: 2px;
  position: relative;
  margin: auto;
  text-align: center;
}

div #menucontainer {
  margin-bottom: 3px;
  margin-top: -10px;
}

#board-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

#wrapper {
  display: block;
  width: 1330px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: white;
  font-family: Arial, sans-serif;
  color: #333;
  padding-bottom: 5px;
  display: block;
}

#left-column {
  display: block;
}

#left-column {
  float: left;
  width: 160px;
  margin-right: 75px;
  margin-top: 117px;
}

#left-column {
  height: 600px;
  display: block;
}

#right-column {
}

#board {
  background-color: darkslategrey;
  border: solid 3px#fff;
  border-radius: 30px;
  color: #fff;
  padding: 5px;
  box-shadow: #000 0 0 5px;
  margin-bottom: 15px;
  z-index: 1;
}

#top-player {
  top: 2px;
  left: 50%;
}

#bottom-player {
  bottom: 2px;
  left: 50%;
}

#bottom-player,
#top-player {
  margin-left: -25px;
}

.avatar {
  position: absolute;
  height: 70px;
}

#board-and-header {
  width: 716px;
  float: left;
  margin-top: 117px;
}

#messageBox {
  position: absolute;
  width: 100%;
  top: 300px;
  left: 0;
  padding: 0;
}

#messageBox p {
  width: 50%;
  height: 35px;
  font-size: 12px;
  font-family: CardSuits, Arial, sans-serif;
  line-height: 16px;
  margin: 0 auto;
  text-align: left;
  padding: 3px 6px;
  color: #333;
  background-color: #edf35a;
  border-radius: 4px;
  text-shadow: none;
}

#deal {
  position: absolute;
  width: 170px;
  left: 390px;
  top: 240px;
}

#pass {
  display: none;
  position: absolute;
  top: 290px;
  left: 430px;
}

#player-buttons {
  position: absolute;
  bottom: 40px;
  left: 390px;
  display: none;
  width: 120px;
}

#knock {
  position: absolute;
  left: -10px;
}

#sortHand {
  position: relative;
  left: 40px;
}

#show-scorecard {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 290px;
  display: none;
}


#inline-score-wrapper {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  padding-left: 23px;
  bottom: 14px;
  width: 50%;
  text-align: center;
}

.card {
  display: block;
}

.card {
  border: 1px solid #000;
  width: 69px;
  height: 94px;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#board-and-header,
#textcontent {
  width: 716px;
}

#textcontent {
  padding-top: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}
#textcontent {
  margin-left: 235px;
}

#about {
  margin-top: 20px;
}

#inline-score-wrapper {
  bottom: 10px;
  right: 5px;
  width: auto;
}

#inline-score {
  display: inline-block;
}

#best-move {
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  width: 310px;
  height: 70px;
  padding: 3px;
  border-radius: 3px;
  position: absolute;
  top: 532px;
  left: 10px;
}

#result-box {
  width: 340px;
  display: none;
  text-align: center;
  min-width: 310px;
  max-width: 96%;
  position: relative;
}

.msger-inputarea {
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.msger-input {
  flex: 1;
  background: #ddd;
}

.msger-send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}

.msger {
  position: relative;
  float: left;
  width: 300px;
  margin-left: 25px;
  margin-top: 117px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  max-width: 867px;
  border: var(--border);
  border-radius: 5px;
  border: 2px solid whitesmoke;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.right-msg {
  flex-direction: row-reverse;
}

.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: whitesmoke;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
